.pageContent {
  //background-color: 	#f6f5f5;
  background-color: white;
  width: 80%;
  margin: 8px auto auto auto;
  border-radius: 3px;
  box-shadow: 0 0 15px rgb(190, 190, 190);
  padding: 10px;
  max-width: 1200px;
  position: relative;

  min-height: 300px;
  min-width: 500px;
}